*,
*::after,
*::before {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Arima', sans-serif;
}

.bg-nav { background-color: #4D4C7D;}
.bg-contact { background-color: #4b667b;}
.bg-estudiantes { background-color:#812E95;}
.bg-niveles { background-color:#06b7d9;}
.bg-somos { background-color:#FF8B01;}
.bg-colaboradores { background-color:#6D8B74;}
.bg-canales { background-color:#FF5703;}

.color-azul { color:#06b7d9 !important;}
.color-morado { color:#812E95 !important;}
.color-gris { color:#4b667b !important;}
.color-naranja { color:#FF5703 !important;}
.color-amarillo  { color:#FF8B01 !important;}
.color-rojo { color: #f00 !important;}

.header-logo {
    width: 60px;
}

.icono {
    width: 5%;
}

footer {
    bottom: 0px;
}